html { 
	height: 100%; 
	overflow: hidden;
} 
body { 
	height: 98%;
	overflow: hidden;
}


td {
	margin-left:0px;

	padding-right: 20px;
	text-align: left;
}

.legend {
    line-height: 18px;
    color: #555;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.acceuil {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

}

.tpad {
	padding-top: 24px;
}

.openbtn {
	cursor: pointer;
	position: absolute;
  top: 5px;
  left: 10px;
  font-size: 30px;
  color:black;
  text-decoration: none;
}

.closebtn {
	position: absolute;
  top: 5px;
  left: 10px;
  font-size: 30px;
  color:white;
  text-decoration: none;
}

.top_level {
	display:flex;
	flex-direction: column;
	position:absolute;
	top:0;
	bottom: 5px;
	left:2px;
	right:2px;
}


.title {
	font-size:40px;
	margin:auto;
	margin-top: 0;
	flex-grow: 0;


}

.sub_title {
	font-size:25px;
	margin:auto;
	text-align: center;


}


.panes {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}



.index_pane {
	width: 20%;
}

.map_pane {
	width: 39%;
}

.video_pane {
	width: 39%;
}

.sub_pane {
	box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
	margin-left:auto;
	margin-right:auto;
	height:86vh;
}
.scroll_pane {
	overflow:scroll;
	height:90%;
	margin-bottom: 5px;
	
	
	

}

.padding_vert {
	margin:auto;
	padding:auto;
	flex-grow: 1;
}

.map {
	height:500px;
	margin:20px;
	border:1px solid black;
}

.video {
	height:500px;
	margin:20px;
	border:1px solid black;
}

video {
	height:500px;
	margin:auto;
}

.inner_video {
	margin:auto;
	margin-bottom: 0px;
}

.video_desc_item {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.map_desc_item {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.video_item {
  padding: auto;
  height: 60px;
  cursor:pointer;
  display:flex;
  border-collapse: collapse;
}

.video_item:hover {
  background-color: #f7f7f7;
}
.video_item:active {
  background-color: #f0f0f0;
}

.video_id {
  width:40px;
  margin:auto 0px auto 0px;
  padding-left:5px;
}
.video_image {
  width:100px;
  height: 60px;
  margin:auto 0px auto 0px;
  padding-left:5px;
}
.video_name {
  width:200px;
  margin:auto 0px auto 0px;
  padding-left:5px;
}
.video_year {
  width:100px;
  margin:auto 0px auto 0px;
  padding-left:5px;
}
.video_description {
  padding:auto;
  margin:auto auto auto 0px;
  padding-left:5px;
}

.article_citation {
	font-size: 12px;
	color:gray;
}

.container {
	width:60%;
	margin:auto;
	margin-top:20px;
}

#video_desc {
	margin:20px;
}

.article {
	margin: 20px;
}

.article_title {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 10px;
}

.article_text {
	font-size: 14px;
	text-align: justify;
}

#map_desc {
	margin:20px;
}

.index_content {
	margin:20px;
}



.filter_btn {
	text-align: left;
	cursor: pointer;
	margin-left: 5px;
	font-size:20px;
}

.filter_line {
	font-size: 14px;
	margin-top:5px;
	margin-bottom:5px;
}